/* Bloque estándar */
.bloque-standard {
    min-height: 400px;

    & p.text-20 {
        max-width: 750px;
    }

    & .bloque-standard_img-right,
    & .bloque-standard_img-left,
    & .img-back {
        top: 0;
    }

    & .img-front {
        transform: translateY(12%);

        &.full-height {
            transform: translateY(0);
            height: 100%;
        }
    }

    /* Bloque estándar imagen derecha */
    & .bloque-standard_img-right,
    & .bloque-standard_img-right .img-back {
        right: 0;
    }

    & .bloque-standard_img-right {

        & .img-front {
            border-top-left-radius: 64px;
        }

        & .img-back {
            position: absolute;
            width: 75%;
            opacity: 0.1;
        }
    }

    /* Bloque estándar imagen izquierda */
    & .bloque-standard_img-left,
    & .bloque-standard_img-left .img-back {
        left: 0;
    }

    & .bloque-standard_img-left {

        & .img-front {
            border-top-right-radius: 64px;
        }

        & .img-back {
            position: absolute;
            width: 75%;
            opacity: 0.1;
        }
    }
}