.bloque-bg-img {
    position: relative;

    & .img-back {
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0.2;
        filter: grayscale(100%);
        z-index: -1;
    }
}