.opciones-bolsa-empleo {
    &.horizontal {
        & nav {
            flex-direction: row;

            & a {
                width: 30%;
            }
        }
    }

    &.vertical {
        & nav {
            flex-direction: row;

            @media (min-width: 992px) {
                flex-direction: column;
            }
        }

        & a {
            width: 250px;
        }
    }

    & nav {
        justify-content: center;
        align-items: center;

        & .line-divider {
            width: 3px;
            min-height: 100px;
            background-color: $color-gris;
            margin-inline: .5rem;

            @media (min-width: 768px) {
                margin-inline: 2rem;
            }
        }

        & a {
            aspect-ratio: 1/1;
            max-width: 200px;
            padding: .5rem;

            @media (min-width: 992px) {
                padding: 1rem 1.5rem;
            }
        }
    }
}