/* Bloque estándar */
.bloque-standard {
    min-height: 400px;

    & p.text-20 {
        max-width: 750px;
    }

    & .bloque-standard_img-right,
    & .bloque-standard_img-left{
        position: relative;
        width: 90%;

        & .img-back {
            display: none;
        }

        @media (min-width: 768px) {
            position: absolute;
            width: 35%;

            & .img-back {
                display: block;
            }
        }
    }

    & .bloque-standard_img-right,
    & .bloque-standard_img-left,
    & .img-back {
        top: 0;
    }

    & .img-front {
        transform: translateY(0%);

        &.full-height {
            transform: translateY(0);
            height: 100%;
        }

        @media (min-width: 768px) {
            transform: translateY(12%);
        }
    }

    /* Bloque estándar imagen derecha */
    & .bloque-standard_img-right,
    & .bloque-standard_img-right .img-back {
        right: 0;
        margin: 0 0 0 auto;
    }

    & .bloque-standard_img-right {

        & .img-front {
            border-top-left-radius: 64px;
        }

        & .img-back {
            position: absolute;
            width: 75%;
            opacity: 0.1;
        }
    }

    /* Bloque estándar imagen izquierda */
    & .bloque-standard_img-left,
    & .bloque-standard_img-left .img-back {
        left: 0;
        margin: 0 auto 0 0;
    }

    & .bloque-standard_img-left {

        & .img-front {
            border-top-right-radius: 64px;
        }

        & .img-back {
            position: absolute;
            width: 75%;
            opacity: 0.1;
        }
    }
}