.formulario-con-aside {
    & aside {
        width: 100%;

        @media (min-width: 992px) {
            width: 30%;
        }
    }

    & form {
        width: 100%;

        & .input-field {
            & .form-label {
                color: $color-texto-terciario;
                margin-bottom: 0;
            }

            & .form-control {
                border-color: $color-texto-secundario;
                color: $color-texto-secundario;

                &:focus {
                    box-shadow: unset;
                }

                &[type="file"]{
                    border: unset; 
                    background-color: transparent;
                    color: $color-texto-terciario;
                    font-weight: 500;

                    &::-webkit-file-upload-button {
                        border: 1px solid $color-texto-secundario;
                        border-radius: 5px;
                        background-color: #D9D9D9;
                        padding: 10px 50px;
                        color: inherit;
                    }
                }
            }
        }

        & .conformidad {
            color: $color-texto-terciario;

            & .scroll {
                max-height: 80px;
                overflow-y: scroll;
                scrollbar-width: thin;
                scrollbar-color: #000 #C9C9C9;
            }
        }

        & .btn-borrar {
            color: $color-texto-secundario !important;
            border-color: $color-texto-secundario;

            &:hover {
                background-color: $color-texto-secundario;
                color: $color-blanco !important;
            }
        }

        @media (min-width: 992px) {
            width: 70%;
        }
    }
}