/* Header */
header.header {
    &>* {
        padding: 0 2rem;
    }

    & nav.menu-contacto {
        background-color: $dark-blue;
        color: $color-blanco;
        padding-top: 0 !important;
        padding-bottom: 0 !important;

        & ul.navbar-nav li.nav-item {

            &::after {
                content: "|";
            }

            &:last-of-type::after {
                content: unset;
            }
        }
    }

    & nav.menu-principal {
        padding: 1rem 0;

        & .nav-item.active {
            & a.nav-link {
                color: $color-principal !important;
            }
        }
    }
}