/* Buttons */
.btn-unstyled,
button.btn-unstyled,
a.btn-unstyled {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

/* Mixin button and links*/
@mixin buttonColor($color: $color-principal) {
    border: 1px solid $color;
    color: $color !important;

    &:hover {
        background-color: $color;
    }
}

@mixin colorEnlace($color: $color-texto) {
    color: $color;
}

/* Extends buttons and links */
%basicLinkStyle {
    text-decoration: none;

    &:hover {
        text-decoration: underline;
        text-decoration-thickness: 1px;
    }
}

%basicButtonStyles {
    border-radius: 40px;
    padding: .5rem 1.5rem;
    font-size: 16px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    white-space: nowrap;
    transition: all .2s ease-in-out;
    text-align: center;
    background-color: $color-blanco;

    &:hover {
        color: $color-blanco !important;
    }
}

.cta,
button.cta,
a.cta {
    @extend %basicButtonStyles;
    @include buttonColor;

    font-weight: 500;
}

.btn_categorias,
.btn-secundario {
    @extend %basicButtonStyles;
    @include buttonColor($color: $color-texto);
}

.btn_empleo {
    @extend %basicLinkStyle;
    @include colorEnlace($color: $color-texto-secundario);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid $color-texto-secundario;
    border-radius: 20px;
    padding: 1rem 1.5rem;
    gap: 16px;
    background-color: $color-blanco;

    & svg {
        width: 40%;
        height: auto;
    }
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 25px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
    -webkit-transition: .4s;
    transition: .4s;
    border: 1px solid $color-texto-terciario;
}

.slider:before {
    position: absolute;
    content: "";
    height: 17px;
    width: 16px;
    left: 4px;
    bottom: 3px;
    background-color: $color-texto-terciario;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
    background-color: $color-principal;
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}