/* Buttons */
.btn-unstyled,
button.btn-unstyled,
a.btn-unstyled {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

/* Mixin button and links*/
@mixin buttonColor($color: $color-principal) {
    border: 1px solid $color;
    color: $color !important;

    &:hover {
        background-color: $color;
    }
}

@mixin colorEnlace($color: $color-texto) {
    color: $color;
}

/* Extends buttons and links */
%basicLinkStyle {
    text-decoration: none;

    &:hover {
        text-decoration: underline;
        text-decoration-thickness: 1px;
    }
}

%basicButtonStyles {
    border-radius: 40px;
    padding: .5rem 1.5rem;
    font-size: 16px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    white-space: nowrap;
    transition: all .2s ease-in-out;
    text-align: center;
    background-color: #fff;

    &:hover {
        color: #fff !important;
    }
}

.cta,
button.cta,
a.cta {
    @extend %basicButtonStyles;
    @include buttonColor;

    font-weight: 500;
}

.btn_categorias,
.btn-secundario {
    @extend %basicButtonStyles;
    @include buttonColor($color: $color-texto);
}