/* Layout */
.mwidth-1440 {
    width: 100%;
    margin: 0 auto;
    max-width: 1440px;
    padding-inline: 1rem;
}

.mwidth-500 {
    max-width: 500px;
}

.mheight-400 {
    max-height: 400px;
}

.w-fit {
    width: fit-content;
}

.w-35 {
    width: 35%;
}

.w-40 {
    width: 40%;
}

.w-60 {
    width: 60%;
}

.h-80 {
    height: 80%;
}

.h-400 {
    height: 400px;
}

/* Bloques */
.background-gris {
    background-color: #f6f6f6;
}

.background-gris-opacidad-5 {
    background-color: rgba(246, 246, 246, 0.5);
}

/* Imagen fondo */
%imgBG {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.img-background-cover-center {
    @extend %imgBG;
    
    top: 0;
    left: 0;
    object-fit: cover;
}

.img-invertida {
    transform: scaleX(-1);
}