/* Textos */
.texto-resaltado {
    color: $color-principal !important;
}

.tituloH1 {
    font-size: unquote("clamp(1.875rem, 0.4464rem + 2.9762vw, 3.125rem)");
    font-weight: 700;
}

.tituloH2 {
    font-size: unquote("clamp(1.25rem, 0.5357rem + 1.4881vw, 1.875rem);");
    font-weight: 600;
}

.text-20 {
    font-size: unquote("clamp(0.9375rem, 0.5804rem + 0.744vw, 1.25rem)");
    font-weight: 400;
}

.text-16 {
    font-size: 16px;
    font-weight: 500;
}

.text-13 {
    font-size: 13px;
    font-weight: 500;
}

.color-secundario {
    color: $color-texto-secundario !important;
}

.color-terciario {
    color: $color-texto-terciario !important;
}