/* Textos */
.texto-resaltado {
    color: $color-principal !important;
}

.tituloH1 {
    font-size: 50px;
    font-weight: 700;
}

.tituloH2 {
    font-size: 30px;
    font-weight: 600;
}

.text-20 {
    font-size: 20px;
    font-weight: 400;
}