@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Open+Sans:wght@400;500;600;700&display=swap');

$dark-blue: #122E3C;
$color-principal: #F03C02;
$color-principal-opacidad-7: rgba(240, 60, 2, 0.7);
$color-texto: #0A1D35;
$color-texto-opacidad-8: rgba(10, 29, 53, 0.8);
$color-texto-secundario: rgba(38, 50, 56, 1);
$color-texto-terciario: rgba(108, 117, 125, 1);
$color-azul-tag-opacidad-7: rgba(52, 159, 140, 0.7);
$color-gris: #F6F6F6;
$color-blanco: #FFFFFF;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    min-height: 100svh;
    color: $color-texto !important;
    font-family: 'Open Sans', sans-serif;
}

@import 'global/layout.scss';
@import 'global/spaces.scss';
@import 'global/buttons.scss';
@import 'global/tipography.scss';
@import 'global/indicador-titulo.scss';
@import 'global/unorderedlist.scss';

@import 'components/header.scss';
@import 'components/cabecera.scss';
@import 'components/bloque-datos.scss';
@import 'components/bloque-standard.scss';
@import 'components/bloque-img-fondo.scss';
@import 'components/bloque-listado-cursos.scss';
@import 'components/bloque-contacto.scss';
@import 'components/bloque-opciones-empleo.scss';
@import 'components/form-aside.scss';
@import 'components/table-aside.scss';
@import 'components/footer.scss';