@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Open+Sans:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html,
body {
  min-height: 100svh;
  color: #0A1D35 !important;
  font-family: 'Open Sans', sans-serif; }

/* Layout */
.mwidth-1440 {
  width: 100%;
  margin: 0 auto;
  max-width: 1440px;
  padding-inline: 1rem; }

.mwidth-500 {
  max-width: 500px; }

.mheight-400 {
  max-height: 400px; }

.w-fit {
  width: fit-content; }

.w-35 {
  width: 35%; }

.w-40 {
  width: 40%; }

.w-60 {
  width: 60%; }

.h-80 {
  height: 80%; }

.h-400 {
  height: 400px; }

/* Bloques */
.background-gris {
  background-color: #f6f6f6; }

.background-gris-opacidad-5 {
  background-color: rgba(246, 246, 246, 0.5); }

/* Imagen fondo */
.img-background-cover-center {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1; }

.img-background-cover-center {
  top: 0;
  left: 0;
  object-fit: cover; }

.img-invertida {
  transform: scaleX(-1); }

/* Espacios */
.pe-6 {
  padding-right: 4rem !important; }

.ps-6 {
  padding-left: 4rem !important; }

/* Buttons */
.btn-unstyled,
button.btn-unstyled,
a.btn-unstyled {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer; }

/* Mixin button and links*/
/* Extends buttons and links */
.btn_empleo, footer.footer .footer_top a, footer.footer .footer_bottom a {
  text-decoration: none;
  font-size: 14px; }
  .btn_empleo:hover, footer.footer .footer_top a:hover, footer.footer .footer_bottom a:hover {
    text-decoration: underline;
    text-decoration-thickness: 1px; }
  @media (min-width: 992px) {
    .btn_empleo, footer.footer .footer_top a, footer.footer .footer_bottom a {
      font-size: clamp(0.8125rem, 0.3973rem + 0.6696vw, 1rem); } }

.cta,
button.cta,
a.cta, .btn_categorias,
.btn-secundario {
  border-radius: 40px;
  padding: .5rem 1.5rem;
  font-size: 14px;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
  transition: all .2s ease-in-out;
  text-align: center;
  background-color: #FFFFFF; }
  .cta:hover, .btn_categorias:hover,
  .btn-secundario:hover {
    color: #FFFFFF !important; }
  @media (min-width: 992px) {
    .cta,
    button.cta,
    a.cta, .btn_categorias,
    .btn-secundario {
      font-size: clamp(0.8125rem, 0.3973rem + 0.6696vw, 1rem); } }

.cta,
button.cta,
a.cta {
  border: 1px solid #F03C02;
  color: #F03C02 !important;
  font-weight: 500; }
  .cta:hover,
  button.cta:hover,
  a.cta:hover {
    background-color: #F03C02; }

.btn_categorias,
.btn-secundario {
  border: 1px solid #0A1D35;
  color: #0A1D35 !important; }
  .btn_categorias:hover,
  .btn-secundario:hover {
    background-color: #0A1D35; }

.btn_empleo {
  color: #263238;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #263238;
  border-radius: 20px;
  padding: 1rem 1.5rem;
  gap: 16px;
  background-color: #FFFFFF; }
  .btn_empleo svg {
    width: 40%;
    height: auto; }

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 25px; }

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0; }

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  -webkit-transition: .4s;
  transition: .4s;
  border: 1px solid #6c757d; }

.slider:before {
  position: absolute;
  content: "";
  height: 17px;
  width: 16px;
  left: 4px;
  bottom: 3px;
  background-color: #6c757d;
  -webkit-transition: .4s;
  transition: .4s; }

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
  background-color: #F03C02; }

/* Rounded sliders */
.slider.round {
  border-radius: 34px; }

.slider.round:before {
  border-radius: 50%; }

/* Botón menú */
.menu-btn > div {
  width: 24px;
  height: 2px;
  border-radius: 1px;
  background-color: #122E3C;
  transition: all .2s ease-in-out; }

.menu-btn.active > div:first-child {
  transform: translate(0px, 5px) rotate(45deg); }

.menu-btn.active > div:last-child {
  transform: translate(0px, -5px) rotate(-45deg); }

/* Textos */
.texto-resaltado {
  color: #F03C02 !important; }

.tituloH1 {
  font-size: clamp(1.875rem, 0.4464rem + 2.9762vw, 3.125rem);
  font-weight: 700; }

.tituloH2 {
  font-size: clamp(1.25rem, 0.5357rem + 1.4881vw, 1.875rem);;
  font-weight: 600; }

.text-20 {
  font-size: clamp(0.9375rem, 0.5804rem + 0.744vw, 1.25rem);
  font-weight: 400; }

.text-16 {
  font-size: 16px;
  font-weight: 500; }

.text-13 {
  font-size: 13px;
  font-weight: 500; }

.color-secundario {
  color: #263238 !important; }

.color-terciario {
  color: #6c757d !important; }

div.indicador {
  width: 3px;
  height: 30px;
  background-color: #F03C02; }
  div.indicador.height-60 {
    height: 60px; }

.ul-list {
  margin-left: 1rem; }
  .ul-list li::marker {
    color: #F03C02; }
  .ul-list li.m-b-5 {
    margin-bottom: 2.5rem !important; }

/* Header */
header.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  box-shadow: 0px 4px 38px 0px rgba(0, 0, 0, 0.11); }
  header.header nav.menu-contacto {
    background-color: #122E3C;
    color: #FFFFFF; }
    header.header nav.menu-contacto svg {
      height: 16px;
      width: auto; }
    header.header nav.menu-contacto ul.navbar-nav li.nav-item::after {
      content: ""; }
      @media (min-width: 992px) {
        header.header nav.menu-contacto ul.navbar-nav li.nav-item::after {
          content: "|"; } }
    header.header nav.menu-contacto ul.navbar-nav li.nav-item:last-of-type::after {
      content: unset; }
    @media (min-width: 992px) {
      header.header nav.menu-contacto svg {
        height: unset; } }
  header.header nav.menu-principal {
    padding: 1rem 0; }
    header.header nav.menu-principal .nav-item.active a.nav-link {
      color: #F03C02 !important; }
    header.header nav.menu-principal a.nav-link {
      font-size: 15px; }
      @media (min-width: 992px) {
        header.header nav.menu-principal a.nav-link {
          font-size: clamp(0.8125rem, 0.3973rem + 0.6696vw, 1rem); } }
    header.header nav.menu-principal .menu-principal_dinamico {
      position: absolute;
      width: 100%;
      top: 100%;
      transform: translateX(100%);
      transition: all .5s ease-in-out;
      z-index: 2;
      padding: 2.5rem;
      box-shadow: 0px 14px 13px 0px rgba(0, 0, 0, 0.11); }
      header.header nav.menu-principal .menu-principal_dinamico.active {
        transform: translateX(-16px); }
      @media (min-width: 768px) {
        header.header nav.menu-principal .menu-principal_dinamico {
          width: 50vw;
          transform: translateX(200%); }
          header.header nav.menu-principal .menu-principal_dinamico.active {
            transform: translateX(calc(100% - 16px)); } }
      @media (min-width: 992px) {
        header.header nav.menu-principal .menu-principal_dinamico {
          position: relative;
          width: unset;
          transform: unset;
          z-index: unset;
          padding: unset;
          box-shadow: unset; }
          header.header nav.menu-principal .menu-principal_dinamico.active {
            transform: unset; } }

/* Cabecera */
section.cabecera {
  min-height: 85vh;
  position: relative;
  margin-top: 88px; }
  section.cabecera .cabecera_info {
    bottom: 0;
    left: 0;
    width: 90%;
    height: 70%;
    background-color: #FFFFFF;
    border-top-right-radius: 40px;
    padding-right: 20px;
    padding-left: 20px;
    max-width: 750px;
    max-height: 400px; }
    section.cabecera .cabecera_info .subtitulo {
      font-size: clamp(1.25rem, 0.8929rem + 0.744vw, 1.5625rem);
      font-weight: 400; }
    @media (min-width: 768px) {
      section.cabecera .cabecera_info {
        width: 70%;
        height: 45%;
        padding-right: 50px;
        padding-left: 50px; } }
    @media (min-width: 992px) {
      section.cabecera .cabecera_info {
        height: 70%; } }
  @media (min-width: 992px) {
    section.cabecera {
      margin-top: 104.97px; } }

/* Datos */
section.datos {
  height: 170px; }
  section.datos .datos_contenedor {
    border: 1px solid #F03C02;
    border-radius: 40px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 38px 0px rgba(0, 0, 0, 0.11);
    margin: 0 .5rem;
    margin-top: -100px;
    z-index: 2;
    position: relative;
    width: 97%; }
    section.datos .datos_contenedor .datos_item {
      width: 33%; }
      section.datos .datos_contenedor .datos_item::after {
        content: " ";
        width: 1px;
        height: 100px;
        background-color: #F03C02; }
      section.datos .datos_contenedor .datos_item:last-of-type::after {
        content: unset; }
      section.datos .datos_contenedor .datos_item > section .titulo {
        font-size: 20px;
        font-weight: 600; }
      section.datos .datos_contenedor .datos_item > section .descripcion {
        font-size: 14px;
        font-weight: 400; }
    @media (min-width: 768px) {
      section.datos .datos_contenedor {
        margin: 0 auto;
        margin-top: -60px;
        width: 100%; }
        section.datos .datos_contenedor .datos_item > section .titulo {
          font-size: 35px;
          font-weight: 700; }
        section.datos .datos_contenedor .datos_item > section .descripcion {
          font-size: 20px;
          font-weight: 300; } }
  @media (min-width: 992px) {
    section.datos {
      height: 200px; } }

/* Bloque estándar */
.bloque-standard {
  min-height: 400px;
  /* Bloque estándar imagen derecha */
  /* Bloque estándar imagen izquierda */ }
  .bloque-standard p.text-20 {
    max-width: 750px; }
  .bloque-standard .bloque-standard_img-right,
  .bloque-standard .bloque-standard_img-left,
  .bloque-standard .img-back {
    top: 0; }
  .bloque-standard .img-front {
    transform: translateY(12%); }
    .bloque-standard .img-front.full-height {
      transform: translateY(0);
      height: 100%; }
  .bloque-standard .bloque-standard_img-right,
  .bloque-standard .bloque-standard_img-right .img-back {
    right: 0; }
  .bloque-standard .bloque-standard_img-right .img-front {
    border-top-left-radius: 64px; }
  .bloque-standard .bloque-standard_img-right .img-back {
    position: absolute;
    width: 75%;
    opacity: 0.1; }
  .bloque-standard .bloque-standard_img-left,
  .bloque-standard .bloque-standard_img-left .img-back {
    left: 0; }
  .bloque-standard .bloque-standard_img-left .img-front {
    border-top-right-radius: 64px; }
  .bloque-standard .bloque-standard_img-left .img-back {
    position: absolute;
    width: 75%;
    opacity: 0.1; }

.bloque-bg-img {
  position: relative; }
  .bloque-bg-img .img-back {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    filter: grayscale(100%);
    z-index: -1; }

/* Bloque listado cursos */
ul.listado-cursos > li {
  width: 32%; }
  ul.listado-cursos > li article.curso-card {
    border-radius: 16px 16px 16px 0;
    width: 100%;
    height: 290px;
    position: relative;
    box-shadow: 0px 4px 38px 0px rgba(0, 0, 0, 0.11);
    background-color: rgba(0, 0, 0, 0.5); }
    ul.listado-cursos > li article.curso-card img.curso-card_bg {
      border-radius: 16px 16px 16px 0; }
    ul.listado-cursos > li article.curso-card .curso-card_estado {
      color: #FFFFFF;
      border-radius: 5px;
      padding: .5rem 1rem;
      font-size: 10px;
      font-weight: 500; }
      ul.listado-cursos > li article.curso-card .curso-card_estado.iniciado {
        background-color: rgba(240, 60, 2, 0.7); }
      ul.listado-cursos > li article.curso-card .curso-card_estado.proximo {
        background-color: rgba(52, 159, 140, 0.7); }
    ul.listado-cursos > li article.curso-card .curso-card_info {
      background-color: #FFFFFF;
      height: 35%;
      width: 80%;
      bottom: 0;
      left: 0;
      border-top-right-radius: 16px; }
      ul.listado-cursos > li article.curso-card .curso-card_info .curso-card_info_caracteristicas {
        font-size: 10px;
        font-weight: 400; }
      ul.listado-cursos > li article.curso-card .curso-card_info .curso-card_info_nombre {
        font-size: 16px;
        font-weight: 700; }

/* Contacto */
.contacto .mapa {
  height: 440px;
  box-shadow: 0px 4px 51px 0px rgba(0, 0, 0, 0.25); }
  .contacto .mapa .mapa_info {
    width: 90%;
    height: 65%;
    bottom: 0;
    right: 0;
    background-color: rgba(10, 29, 53, 0.8);
    border-radius: 64px 0 0 0;
    color: #FFFFFF;
    padding: 50px 60px; }
    @media (min-width: 768px) {
      .contacto .mapa .mapa_info {
        width: 45%; } }

.opciones-bolsa-empleo.horizontal nav {
  flex-direction: row; }

.opciones-bolsa-empleo.vertical nav {
  flex-direction: column; }

.opciones-bolsa-empleo nav {
  justify-content: center;
  align-items: center; }
  .opciones-bolsa-empleo nav .line-divider {
    width: 3px;
    min-height: 100px;
    background-color: #F6F6F6;
    margin-inline: 2rem; }
  .opciones-bolsa-empleo nav a {
    width: 250px;
    aspect-ratio: 1/1; }

.formulario-con-aside aside {
  width: 30%; }

.formulario-con-aside form {
  width: 70%; }
  .formulario-con-aside form .input-field .form-label {
    color: #6c757d;
    margin-bottom: .25rem; }
  .formulario-con-aside form .input-field .form-control {
    border-color: #263238;
    color: #263238; }
    .formulario-con-aside form .input-field .form-control:focus {
      box-shadow: unset; }
    .formulario-con-aside form .input-field .form-control[type="file"] {
      border: unset;
      background-color: transparent;
      color: #6c757d;
      font-weight: 500; }
      .formulario-con-aside form .input-field .form-control[type="file"]::-webkit-file-upload-button {
        border: 1px solid #263238;
        border-radius: 5px;
        background-color: #D9D9D9;
        padding: 10px 50px;
        color: inherit; }
  .formulario-con-aside form .input-field fieldset {
    height: 38px;
    align-items: center; }
  .formulario-con-aside form .conformidad {
    color: #6c757d; }
    .formulario-con-aside form .conformidad .scroll {
      max-height: 80px;
      overflow-y: scroll;
      scrollbar-width: thin;
      scrollbar-color: #000 #C9C9C9; }
  .formulario-con-aside form .btn-borrar {
    color: #263238 !important;
    border-color: #263238; }
    .formulario-con-aside form .btn-borrar:hover {
      background-color: #263238;
      color: #FFFFFF !important; }

.tabla-con-aside aside {
  width: 30%; }

.tabla-con-aside table {
  width: 70%; }
  .tabla-con-aside table th {
    text-align: center;
    border: 1px solid #263238; }
    .tabla-con-aside table th:nth-child(1), .tabla-con-aside table th:nth-child(4) {
      width: 15%; }
    .tabla-con-aside table th:nth-child(2), .tabla-con-aside table th:nth-child(3) {
      width: 35%; }
  .tabla-con-aside table thead {
    background-color: #0A1D35;
    color: #FFFFFF; }
    .tabla-con-aside table thead th {
      padding: 10px 20px; }
  .tabla-con-aside table tbody th {
    background-color: #FFFFFF;
    padding: 5px 10px; }

/* Footer */
footer.footer .footer_top {
  background-color: #122E3C;
  color: #FFFFFF; }
  footer.footer .footer_top h3 {
    font-size: 12px;
    font-weight: 600; }
  footer.footer .footer_top a {
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 300; }
  footer.footer .footer_top img.img-sello {
    height: 40px; }

footer.footer .footer_bottom .linea {
  height: 5px;
  background-color: #F03C02; }

footer.footer .footer_bottom a {
  color: #0A1D35; }
